
body{
  margin-top: 60px;

  padding: 0;
  background-color:#FFFFFF;
}

footer{

position: absolute;
  bottom: 0;
  width: 100%;
  padding-top:0px;
  height: 100px;
  align:center;
  background-color:#000000
}
.foooter{

  color:#FFFFFF;
  align:center;
  margin-bottom: 15px;
  padding-top: 35px;
}
.imgg{
 height: 46px;
 width: 60px;
}
@media (max-width: 992px) {
      footer  {
        margin-top: 20px;
        position: relative;
          bottom: 0;

   }
   body{
     margin-top: 70px;
   }

}
